name: Running tests

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./lifecheck-front
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.1.1
          run_install: false

      - name: Install dependencies
        run: npm i

      - name: Run jest
        run: npm run test

      - uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start
          working-directory: lifecheck-front

     

        
